
@model DAL.DataViewModel.DashboardMonthViewModel

@{
    Layout = null;
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - EmployeeManagement</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/css/Dashboard.css" rel="stylesheet" />




@{
    ViewData["Title"] = "Dashboard";
}


<div class="row">
    <div class="col-sm-2">
        <nav class="navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mt-2 ml-3 mb-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chart-line"> Dashboard</i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <hr />
                <div class="mt-3">
                    <ul class="text-center">
                        <li>
                            <a asp-area="" asp-controller="Employee" asp-action="Index"><i class="fa fa-lg fa-home"> Home</i></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="" asp-action="CreateEntry"><i class="fa fa-lg fa-folder-plus"> Entry</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="col-sm-10 mt-3">
        <form action="Dashboard" method="get">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">Month: </label>
                    <select class="form-select" asp-for="Month" id="month-select" aria-label="Month Select">
                        <option selected>Select Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <button class="btn btn-sm btn-success" type="submit" asp-action="Dashboard" asp-route-id="@ViewBag.Id">Get</button>
                </div>
                <div class="col-sm-4 text-right">
                    <h4>
                        Total Working Days: @if (@ViewBag.Count > 0)
                        { 
                            @ViewBag.Count
                        }
                    </h4>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Date)*@
                        Date
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.InTime)*@
                        InTime
                    </th>
                    <th>
                        @* @Html.DisplayNameFor(model => model.OutTime)*@
                        OutTime
                    </th>
                    <th>
                        Total Break Time
                    </th>
                    <th>
                        Total Working Time
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if (@ViewBag.Count > 0)
                {
                    @foreach (var item in ViewBag.Entries)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Date)*@
                                <p>@item.Date.ToString("yyyy-MM-dd")</p>
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.InTime)*@
                                <p>@item.InTime</p>
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.OutTime)*@
                                <p>@item.OutTime</p>
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.TotalBreakTime)*@
                                <p>@item.TotalBreakTime</p>
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.TotalWorkingTime)*@
                                <p>@item.TotalWorkingTime</p>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <h4>Records Not Found</h4>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>

